*{
    box-sizing: border-box;
}

a{
    text-decoration: none;/* quitamos el subrayado*/
}

ul{
    list-style: none; /*quitamos el circulo de la lista*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
}

nav {
    background: #FFEA54;
    border-radius: 10px;
}
section{
    /*
    background-image: url(../imagenes/fondoUno.png);
    background-repeat: no-repeat;
    background-size: 100%;

    */
    float: left;
    width: 20%;
    
}
body{
    background-image: url(../imagenes/fondoUno.png);
   /* background-repeat: no-repeat;*/
    background-size: 100%;

}
.izquierdo{
    
   /* background-image: url(../imagenes/fondoUno.png);
    background-repeat: no-repeat;*/
    background-size: 100%;
    border-radius: 10px;
    width: 65%;
}
img{
    max-width: 200px;
    max-height: 200px;
}
p{
    width: 100%;
}

.explicacion{
    background: #FFEA54;
    border-radius: 10px;
    width: 60%;
    margin-left: 2%;
    height: 10%;
}
.nuevos{
    max-width: 400px;
    max-height: 500px;
    border-radius: 10px;
}